.box-outer {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
}

.list-box-wrapper {
	padding: 30px;
	box-sizing: border-box;
	width: 100%;
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	border-radius: 24px;
}

.list-box-wrapper > h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 24px;
}

.list-box-wrapper > ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.list-box-wrapper > ul > li {
	display: flex;
	align-items: center;
}

.list-box-wrapper > ul > li img {
	max-width: 94px;
}

.list-box-wrapper > ul > li > div:last-child {
	padding-left: 20px;
	box-sizing: border-box;
}

.list-box-wrapper > ul > li > div:last-child h3,
.list-box-wrapper > ul > li > div:last-child h4,
.list-box-wrapper > ul > li > div:last-child p {
	margin-top: 0;
	margin-bottom: 0;
	box-sizing: border-box;
}

.list-box-wrapper > ul > li > div:last-child h3 {
	font-size: 14px;
	color: #FE805C;
}

.list-box-wrapper > ul > li > div:last-child h4 {
	font-size: 12px;
	color: #AFAFBD;
	margin-top: 5px;
}

.list-box-wrapper > ul > li > div:last-child p {
	color: #12121F;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	margin-top: 7px;
}

.list-box-wrapper > ul > li {
	padding: 15px;
	border-radius: 20px;
	box-sizing: border-box;
	cursor: pointer;
}

.list-box-wrapper > ul > li:hover {
	background-color: #FEF2EE;
}
